<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% set page_title %}
			{% block title %}
				Início
			{% endblock %}
		{% endset %}
		<title>
			MedControl - {{ page_title }}
		</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.1/css/all.css" />
			<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.1/css/sharp-duotone-thin.css" />
			<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.1/css/sharp-duotone-solid.css" />
			<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.1/css/sharp-duotone-regular.css" />
			<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.1/css/sharp-duotone-light.css" />
			<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.1/css/sharp-thin.css" />
			<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.1/css/sharp-solid.css" />
			<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.1/css/sharp-regular.css" />
			<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.1/css/sharp-light.css" />
			<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.1/css/duotone-thin.css" />
			<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.1/css/duotone-regular.css" />
			<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.1/css/duotone-light.css" />
			{{ vite_entry_link_tags('app') }}
		{% endblock %}

		<meta name="description" content="{{ block('title') }}" />

		<link rel="shortcut icon" type="image/svg+xml" href="{{ asset('favicon.svg') }}" />
		<link rel="apple-touch-icon" href="{{ asset('icon.png') }}" />

		{% block javascripts %}
			{{ vite_entry_script_tags('app') }}
		{% endblock %}
		<script src="https://unpkg.com/htmx.org@2.0.3"></script>
		<meta name="theme-color" content="#00c9ff" />
	</head>

	<body class="min-h-screen flex flex-col bg-gradient-to-br from-primary to-secondary justify-center from-20% to-80% overflow-x-hidden">
		{% set _route = app.request.get('_route') %}
		<div class="flex-none">
			{{ include('components/header.html.twig') }}
			{{ include('components/navigation.html.twig') }}
		</div>

		<main class="flex flex-col items-center justify-center w-full p-4 grow">
			<div class="flex flex-col bg-gray-100 grow min-w-[360px] w-full sm:max-w-[580px] md:max-w-[610px] lg:max-w-[640px] rounded-2xl min-h-max shadow-2xl">
				<div class="flex flex-col items-center justify-center space-x-2 bg-white shadow-md h-[10vh] min-h-[75px] max-h-[90px] rounded-t-2xl">
					<ul class="items-center my-4 menu-horizontal">
						<li>
							<a href="{{ path('app_dashboard') }}" class="btn btn-circle btn-primary h-12 w-12 min-w-[32px] min-h-[32px]">
								<i class="text-2xl text-primary-content fa-regular fa-house"></i>
							</a>
						</li>
						<li>
							<div class="dropdown dropdown-center dropdown-bottom">
								<div tabindex="0"
									role="button"
									class="m-1 flex justify-center items-center btn btn-circle btn-secondary h-16 w-16 min-w-[48px] min-h-[48px]">
									<i class="text-4xl fa-regular fa-capsules"></i>
								</div>
								<ul tabindex="0" class="dropdown-content flex flex-row p-1 space-y-2 rounded-box text-xl text-white z-[1]">
									<li>
										<a href="{{ path('app_medicamentos_new') }}"
											class="flex items-center justify-center p-2 text-2xl rounded-full hover:bg-success-active hover:cursor-pointer bg-success hover:text-success tooltip tooltip-right"
											data-tip="Criar">
											<i class="fa-regular fa-plus fa-fw"></i>
										</a>
									</li>
									<li>
										<a href="{{ path('app_dashboard') }}"
											class="flex items-center justify-center p-2 text-2xl rounded-full hover:bg-success-active hover:cursor-pointer bg-success hover:text-success tooltip tooltip-right"
											data-tip="Listar">
											<i class="fa-regular fa-list fa-fw"></i>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<li>
								<div class="dropdown dropdown-center dropdown-bottom">
									<div tabindex="0" role="button" class="btn btn-circle btn-primary h-12 w-12 min-w-[32px] min-h-[32px]">
										<i class="text-2xl fa-regular fa-folder-open"></i>
									</div>
									<ul tabindex="0"
										class="dropdown-content flex flex-row p-1 space-y-2 rounded-box text-xl text-white z-[1]">
										<li>
											<a href="{{ path('app_registros_upload') }}"
												class="flex items-center justify-center p-2 text-2xl rounded-full text-primary-content hover:bg-primary-active hover:cursor-pointer bg-primary hover:text-primary tooltip tooltip-right"
												data-tip="Carregar Registro">
												<i class="fa-regular fa-upload fa-fw"></i>
											</a>
										</li>
										<li>
											<a href="{{ path('app_registros_list') }}"
												class="flex items-center justify-center p-2 text-2xl rounded-full text-primary-content hover:bg-primary-active hover:cursor-pointer bg-primary hover:text-primary tooltip tooltip-right"
												data-tip="Listar">
												<i class="fa-regular fa-list fa-fw"></i>
											</a>
										</li>
									</ul>
								</div>
							</li>
						</li>
					</ul>
				</div>

				{% block body %}

				{% endblock %}
			</div>
		</main>
		<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
	</body>
</html>
